.topic {
    h2 {
        color: white;
        border: 1px solid white;
        padding: 5px;
        backdrop-filter: blur(10px);
        width: 15%;
        text-align: center;
    }
    ul {
        border: 1px solid white;
        border-radius: 10px;
        text-align: left;
        margin-left: 50px;
        width: 35%;
        backdrop-filter: blur(10px);
        padding-bottom: 5px;
        padding-top: 5px;

        li {
            color: white;
            padding: 2px;
        }
    }
}