
.navbar {
    text-align: center;
    border: 1px solid white;
    padding: 5px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
        a {
            text-decoration: none;
            color: white;
            margin-right: 30px;
        }
}