.projects {
    text-align: center;
    color: white;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    margin: auto;
    width: 50%;
}

.textbutton {
    color: white;
    text-align: center;
    font-weight: bold;
    border: 1px solid white;
    padding: 4px;
    background-color: transparent;
    border-radius: 5px;
}