body {
    background-color: midnightblue;
}
h1 {
    text-align: center;
    color: white;
    border: 1px solid white;
    padding: 10px;
}
p {
    text-align: center;
    color: white;
}